@import './variables.less';
@import './font-family.less';
@import './theme/index.less';
@import './reset.less';

.starter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background: #ffffff;
}
